@media only screen and (max-width: 800px) {
	.nav-left,
	.nav-right {
		display: none;
	}

	.mobile-menu {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}

	.mobile-menu-items {
		display: flex;
		gap: 15px;
		align-items: center;
	}

	.fa-magnifying-glass {
		color: white;
		font-size: 20px;
	}

	.hero-image {
		display: none;
	}

	.hero {
		margin-left: 25px;
	}

	.this-week {
		padding: 1rem;
	}

	.article-content-container {
		width: 100%;
	}

	.footer-menu-items {
		flex-wrap: wrap;
		gap: 1rem;
	}

	.footer-nav-item {
		flex-wrap: wrap;
	}

	footer {
		padding-inline: 1rem;
	}

	.footer-menu {
		margin-top: 2rem;
	}
	.footer-top {
		gap: 2rem;
	}

	.prev-weeks {
		padding: 1rem;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(5, 300px);
	}

	.highlight {
		grid-column: 1 / 3;
	}

	.md {
		grid-row: 5 / span 1;
	}

	.editors-choice-container {
		height: 25vh;
	}
}

@media only screen and (max-width: 570px) {
	main {
		padding-bottom: 2rem;
	}
	.this-week .article-img {
		width: 90px;
		height: 90px;
	}

	.footer-top {
		flex-direction: column;
	}

	.hero-content {
		width: 100%;
	}

	.prev-weeks {
		padding-top: 4rem;
		display: flex;
		flex-direction: column;
	}

	.prev-weeks article {
		height: 300px;
	}

	.editors-choice-container {
		height: 27vh;
	}

	.slider-icons {
		display: none;
	}

	.editor-top-section {
		padding: 0 1rem;
	}

	.hero-content > p {
		font-size: 0.6rem;
	}

	.hero-titles {
		font-size: 1.3rem;
		line-height: 1.8rem;
	}

	.contact-box {
		width: 80%;
	}
}

@media only screen and (min-width: 1400px) {
	.nav {
		max-width: 1600px;
		margin: auto;
	}

	.editors-choice-container {
		max-width: 1600px;
		margin: auto;
	}

	header {
		height: 90vh;
	}

	.burger-menu {
		margin-right: 11rem;
	}

	.editors-choice {
		position: absolute;
		top: -60%;
		z-index: 5;
		width: 100%;
	}

	.article-img-style {
		width: 300px;
		height: 430px;
	}

	.editors-choice h3 {
		padding-left: 10rem;
	}
}
